{% extends 'base.html' %}

{% block pre_contenido %}
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>
          <i class="icon icon-material-bug-report"></i> 
          Control de Planes de Acción
        </h1>
        <p>
          La organización debe determinar y seleccionar las oportunidades de mejora e implementar las acciones necesarias para cumplir los requisitos del cliente y aumentar la satisfacción del cliente.
        </p>
        <p>
          <a href="javascript:void(0)" class="btn btn-danger">Seguimiento</a>
          <a href="javascript:void(0)" class="btn btn-success">Acción Compromiso</a>
          <a href="javascript:void(0)" class="btn btn-info">Agregar un PAS</a>
        </p>
      </div>
    </div>
  </div>
{% endblock pre_contenido %}